{% load static %}
<section>
    <!-- Start Profile Photo -->
    <table class="container">
        {% if not 'musically-maliva-obj' in user_info.avatar %}
            <p>Great! Your TikTok Profile Photo has been setup for <b>{{ user_info.unique_id }}</b>!</p>
        {% else %}
            <p>Whoops! Your TikTok Profile Photo has not been setup yet!</p>
            <br>
            <p>Open TikTok and add your profile photo to the app.</p>
            <table class="table table-bordered">
            <tr>
                <td>
                <img class="img-responsive" src="{% static 'images/screenshots/Screenshot_opening_screen_edit_profile.jpg' %}" alt="TikTok_Insights_Update_Photo">
                </td>
                <td>
                <img class="img-responsive" src="{% static 'images/screenshots/Screenshot_Edit_Profile_Change_Photo.jpg' %}" alt="TikTok_Insights_Update_Photo">
                </td>
            </tr>
            </table>
            <p>A standard photo used for a passport or driver's license is fine but you may want an avatar</p>
        {% endif %}
        <br />
        <p>Some influencers have seen good results with photos that have transparent backgrounds.</p>
        <p>The transparency blocks less of the image when viewing one of your TikTok Videos.</p>
        <br/>
        <p>Good Links for creating transparent pictures are:</p>
        <ul class="list-group">
            <li class="list-group-item"><a class="text-primary stretched-link" href="https://www.youtube.com/watch?v=2tb1lz4JpGw" target="_blank">YouTube How To Remove Background From Profile Photo - LifeWithErick</a></li>
            <li class="list-group-item"><a class="text-primary stretched-link" href="https://www.youtube.com/watch?v=Cb77uE_2o54" target="_blank">YouTube How To Remove Background From Profile Photo - The Simple Dad</a></li>
       </ul>
    </div>
    <div class="divider"></div>
</section>
