{% load static %}
<section>
    <!-- Start Push Settings -->
    <div class="container">
        <p>The Push Settings is an app setting TikTokInsights can't see, so we can only offer suggestions</p>
        <p>You will need to check your app, but we'll help guide you.</p>
        <br>
        <p>Open TikTok and make sure Push Settings are set.</p>
        <p>TikTok measures how engaged you are with your viewers - especially in the hours after you post</p>
        <p>a new video. The faster you respond, the more engaged viewers feel and the higher TikTok will</p>
        <p>rank you. The Push settings will notify you when you get a like, comment or share so you can</p>
        <p>respond.</p>
        <table class="table table-bordered">
            <tr>
                <td>
                    <img class="img-responsive" src="{% static 'images/screenshots/Screenshot_Getting_To_Settings.jpg' %}" alt="TikTok_Insights_Add_Push">
                </td>
                <td>
                    <img class="img-responsive" src="{% static 'images/screenshots/Screenshot_Push_Notifications.jpg' %}" alt="TikTok_Insights_Add_Push">
                </td>
                <td>
                    <img class="img-responsive" src="{% static 'images/screenshots/Screenshot_In_App_Notifications.jpg' %}" alt="TikTok_Insights_Add_Push">
                </td>
            </tr>
        </table>
        <br />
        <p>Remember, the first few hours after posting are critical for engaging with your audience.</p>
        <br/>
    </div>
    <div class="divider"></div>
</section>
