{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}
<section class="app-main-head">
    <div class="pg-columns pg-columns-reversed pg-align-items-center">
        <div class="pg-column">
            <h1 class="pg-title">{% translate "TikTok Insights Guided Tour" %}</h1>
            <h2 class="pg-subtitle">
                {% if subscription %}
                   <div class="my-2 pg-text-centered pg-text-success">
                    <p> {% translate "This is TikTok Insight's Guided Tour for " %} {{user_info.unique_id}}</p>
                   </div>
                {% else %}
                    <div class="my-2 pg-text-centered pg-text-info">
                    <p>{% translate "Whoops! It doesn't look like you're subscribed." %}</p>
                    <p>{% translate "You'll need to subscribe to see the Guides." %}</p>
                    <p><a href="{% url 'subscriptions:subscription_details' %}"><strong>Upgrade Here!</strong></a></p>
                    </div>
                {% endif %}
                <!-- The following grabs the name of the page and makes it the Header -->
            </h2>
            <div class="container">
            <ul class="list-group">
                <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}">Guided User Tour</a></li>
                <ul class="list-group">
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}?page=1">Username Info </a>
                        {% if user_info.unique_id %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </li>
                    <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}?page=2">Profile Photo </a>
                        {% if user_info.avatar %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </li>
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}?page=3">Bio Description </a>
                        {% if user_info.signature %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </li>
                    <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}?page=4">Social Links </a>
                        {% if user_info.bio_link %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </li>
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-user' %}?page=5">Push Notifications </a>
                        <i class="fa-solid fa-question"></i>
                    </li>
                </ul>
                <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}">Guided Video Statistics</a></li>
                <ul class="list-group">
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}?page=1">Posting Frequency </a></li>
                    <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}?page=2">Video Length </a></li>
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}?page=3">Views Per Like </a></li>
                    <li class="list-group-item"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}?page=4">Views Per Comment </a></li>
                    <li class="list-group-item odd"><a class="text-primary stretched-link" href="{% url 'tiktokinfo:guided-video-stats' %}?page=5">Views Per Share </a></li>
                </ul>
            </ul>
            </div>
        </div>
    </div>
</section>

<!-- Style CSS -->
<style>
    ul, ol {
        margin-left: 25px;
    }
    li { background:white; }
    li.odd { background:silver; }
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /* CSS for allowing the tooltip to overflow div */
    .stats {
        overflow: visible;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background-color: white;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 10px;
    }

    /* Adds Icons */
    .collapsible:after {
        content: '\02795';
        /* Unicode character for "plus" sign (+) */
        font-size: 1rem;
        color: white;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */
        color: white;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .collapsible:hover {
        background-color: #de3bb4;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 0 18px;
        overflow: hidden;
        background-color: #d624a8;
        color: white;
        max-height: 0;
        transition: max-height 0.2 ease-out;
        margin-top: -10px;
        border-radius: 10px;
    }

    #collapsible-one {
        margin-top: 5.5rem;
    }

    .collapsible {
        background-color: #d624a8;
    }

    /* Loader */
    .loader {
        display: none;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .loading {
        border: 1.25rem solid #ccc;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border-top-color: #1ecd97;
        border-left-color: #1ecd97;
        animation: spin 2s infinite ease-in;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<!-- End Style CSS -->

<!-- Collapsible Javascript Start -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
<!-- Collapsible Javascript End -->

<!-- Spinner Javascript Start -->
<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>
<!-- Spinner Javascript End -->

{% endblock %}