{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}
<section class="app-main-head">
    <div class="pg-columns pg-columns-reversed pg-align-items-center">
        <div class="pg-column-one-third">
            <img class="img-fluid" src="{% static 'images/undraw/undraw_outer_space.svg' %}"
            alt="{% translate "Rocket Your TikTok Ranking!" %}">
        </div>
        <div class="pg-column">
            <h1 class="pg-title">{% translate "You're Signed Into TikTok Insights!" %}</h1>
            <h2 class="pg-subtitle">
                {% if subscription %}
                   <div class="my-2 pg-text-centered pg-text-success">
                    <p> {% translate "This is TikTok Insight's Stastics for " %} {{user_info.unique_id}}</p>
                    <br>
                    <p> {% translate "You're subscribed! Hooray!" %}</p>
                   </div>
                {% else %}
                    <div class="my-2 pg-text-centered pg-text-info">
                    <p>{% translate "Whoops! It doesn't look like you're subscribed." %}</p>
                    <p>{% translate "You'll need to subscribe to see your statistics." %}</p>
                    <p><a href="{% url 'subscriptions:subscription_details' %}"><strong>Upgrade Here!</strong></a></p>
                    </div>
                {% endif %}
            </h2>
        </div>
    </div>
</section>


<div class="divider"></div>
<h2>TikTok Stats</h2>
  {% include 'tiktok_info/tiktok_user_stats.html' %}

<div class="divider"></div>
<h2>TikTok Ranking Advice</h2>
  {% include 'tiktok_info/tiktok_advice.html' %}

<div class="divider"></div>
<h2>Charts</h2>
  {% include 'tiktok_info/tiktok_charts.html' %}

<div class="divider"></div>
<h2>TikTok User Stats (Version 2)</h2>
  {% include 'tiktok_info/tiktok_user_stats2.html' %}
<div class="divider divider-1"></div>

<!-- Style CSS -->
<style>
    /* Tooltip container */
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /* CSS for allowing the tooltip to overflow div */
    .stats {
        overflow: visible;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background-color: white;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-radius: 10px;
    }

    /* Adds Icons */
    .collapsible:after {
        content: '\02795';
        /* Unicode character for "plus" sign (+) */
        font-size: 1rem;
        color: white;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */
        color: white;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active,
    .collapsible:hover {
        background-color: #de3bb4;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 0 18px;
        overflow: hidden;
        background-color: #d624a8;
        color: white;
        max-height: 0;
        transition: max-height 0.2 ease-out;
        margin-top: -10px;
        border-radius: 10px;
    }

    #collapsible-one {
        margin-top: 5.5rem;
    }

    .collapsible {
        background-color: #d624a8;
    }

    /* Loader */
    .loader {
        display: none;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .loading {
        border: 1.25rem solid #ccc;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border-top-color: #1ecd97;
        border-left-color: #1ecd97;
        animation: spin 2s infinite ease-in;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<!-- End Style CSS -->

<!-- Collapsible Javascript Start -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
<!-- Collapsible Javascript End -->

<!-- Spinner Javascript Start -->
<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("loader")[0].style.display = "block";
    }
</script>
<!-- Spinner Javascript End -->

<!-- Test Components -->
<section class="top-tags">
    <div class="py-12">
        <h1 class="text-2xl text-center">Top Hashtags</h1>
    </div>
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
                <tr>
                    <th></th>
                    <th>Tag Name</th>
                    <th>Estimated True Mean Views</th>
                    <th>Average Views</th>
                    <th>Number of Videos with Tag</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover">
                    <th>1</th>
                    <td>oscarsathome</td>
                    <td>87,721</td>
                    <td>141,133</td>
                    <td>298,300</td>
                </tr>
                <tr class="hover">
                    <th>2</th>
                    <td>tiktokpartner</td>
                    <td>67,721</td>
                    <td>102,537</td>
                    <td>287,700</td>
                </tr>
                <tr class="hover">
                    <th>3</th>
                    <td>prank</td>
                    <td>65,253</td>
                    <td>71,166</td>
                    <td>1,200,000</td>
                </tr>
                <tr class="hover">
                    <th>4</th>
                    <td>makenightsepic</td>
                    <td>53,230</td>
                    <td>62,249</td>
                    <td>624,900</td>
                </tr>
                <tr class="hover">
                    <th>5</th>
                    <td>teentigada</td>
                    <td>52,398</td>
                    <td>71,469</td>
                    <td>347,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="app-card">
    <div class="pg-content">
        <div class="username-form">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST"
                action="{% url 'web:get_stats' %}">
                {% csrf_token %}
                <span class="label-text" for="tkusername">
                    Enter TikTok Username
                </span>
                <input type="text" placeholder="@charlidemelio" id="tkusername" name="tkusername"
                    class="input input-bordered input-primary w-full max-w-xs" />
                <button type="submit" class="sbtn btn btn-secondary btn-c" onclick="spinner()">Get Stats</button>
                <div class="loader">
                    <div class="loading">
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}