{% if active_plan_intervals|length > 1 %}
    <div class="subscription-plan-selector-buttons btn-group">
      {% for interval in active_plan_intervals %}
        <button class="btn btn-outline btn-primary" id="plan-selector-{{interval.interval}}">{{ interval.name }}</button>
      {% endfor %}
    </div>
    <div class="help is-size-6 pg-text-centered" id="plan-help" ></div>
  {% endif %}
<div class="pg-columns my-2" id="plan-selector">
  {% for product in active_products %}
    <div class="pg-column flex-grow">
      <div class="plan{% if product.metadata.is_default %} is-selected{% endif %}"
           data-product-id="{{ product.stripe_id }}" data-plan-id="{{ product.default_price.id }}" >
        <p class="text-2xl font-bold text-gray-900">{{ product.metadata.name }}</p>
        <p class="text-lg">{{ product.metadata.description }}</p>
        <div class="my-4">
          <p><span class="price text-2xl"></span><span class="interval text-sm"></span></p>
        </div>
        <ul class="upgrade-features">
           {% for feature in product.metadata.features %}
           <li>
             <span class="pg-icon"><i class="fa fa-check"></i></span>
             <span class="upgrade-feature">{{ feature }}</span>
           </li>
           {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
